*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
label{
    width: 100%;
}
.input{
    width: 100%;

}
h1{
    text-align: center;
    width: 100%;
}
span{
    color: red;
    font-size: 18px;
}
#titrePoint{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#divPointage{
    width: 45vh;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    margin: 5%;
    padding: 3%;
}
#divInfoPointage{
    width: 45vh;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    margin: 5%
}

