*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
label{
    width: 100%;
}
h1{
    width: 100%;
    text-align: center;
}
h3{
    width: 100%;
    text-align: center;
    color: red;
}
span{
    color: red;
    font-size: 18px;
}
#titreProfil{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#divUpdate{
    width: 45vh;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    margin: 5%;
    padding-left: 5%;
}
#divDelete{
    width: 45vh;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    margin: 5%;

}